body {
    background: linear-gradient(135deg, #000, #090718);
    font-family: 'Courier New', monospace;
    color: white;
}

/* Estilos para la animación de zoom */
.zoom-image {
    transition: transform 0.2s ease-in-out;
}

.zoom-image:hover {
    transform: scale(1.1);
}

/* Estilos para el botón de neón */
.neon-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.neon-button::before,
.neon-button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid #00a7f5;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
}

.neon-button::before {
    z-index: -1;
    transform: scale(1);
}

.neon-button::after {
    z-index: -2;
    transform: scale(1.05);
}

.neon-button:hover::before,
.neon-button:hover::after {
    opacity: 1;
    transform: scale(1.05);
}

.neon-button:hover {
    transform: scale(1.05);
    background-color: #00a7f5;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
}

/* Estilo específico para hacer el círculo más grande y centrar la imagen */
.smaller-profile-img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Estilos para las tarjetas */
.card {
    max-width: 100%;
}

.card-body {
    font-size: 12px;
}

/* Estilos para los iconos "neón" */
.social-icon {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-icon:hover {
    color: rgb(0, 113, 148);
}

.social-icon::before {
    content: '\2022';
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    opacity: 0;
    transform: scale(0.1);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.social-icon:hover::before {
    opacity: 1;
    transform: scale(1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item {
    text-align: center;
    margin: 0 10px;
}

.social-item i {
    margin-bottom: 10px;
}

#idiomas-images img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.my-form {
    max-width: 600px; /* ajusta este valor según tus necesidades */
    margin: 0 auto; /* centra el formulario en la pantalla */
}

/* Agrega estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
    .form-group {
        margin-bottom: 15px; /* espacio entre grupos de formulario en dispositivos móviles */
    }

    .btn {
        width: 100%; /* el botón ocupa el ancho completo en dispositivos móviles */
    }
}
