* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    font-family: 'Courier New', monospace;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.welcome-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.console-text {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #fff;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

.welcome-text {
    color: #fff;
}

.start-button {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, text-shadow 0.3s;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Color azul con opacidad */
    text-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Color azul con opacidad */
}

.start-button:hover {
    background-color: #007bff; /* Color azul más intenso al pasar el mouse */
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8); /* Resplandor más intenso al pasar el mouse */
    text-shadow: 0 0 20px rgba(0, 0, 255, 0.8); /* Resplandor más intenso al pasar el mouse */
}
